<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit Fishing Page</h1>
        <!--  ADD action attribute to form tag-->
        <form action="/fishes/<%=fish.id%>?_method=PUT" method="POST">
            <!--  NOTE: the form is pre-populated with values for the server-->
            Species: <input type="text" name="species" value="<%=fish.species%>" /><br />
            Text: <input type="text" name="text" value="<%=fish.text%>" /><br />
            Where caught: <input type="text" name="wherecaught" value="<%=fish.wherecaught%>" /><br />
            Image: <img src="<%= fish.img %>" alt="Fish Picture">
            <h3>
                Img: <input type="text" name="text" value="<%=fish.text%>" /><br />
            </h3>
    
    
            
        </form>
    </body>
</html>